body{
  margin:0;
  font-family:Arial;
  color:white;
  text-align:center;

  background:url("fundo.jpg") center/cover fixed;
}

/* login */
#loginBox{
  margin-top:150px;
}

/* topo */
.top-left{
  position:fixed;
  top:15px;
  left:15px;
  font-size:14px;
}

.top-buttons{
  position:fixed;
  top:15px;
  right:15px;
  display:flex;
  gap:8px;
}

/* glass */
button{
  padding:12px 18px;
  border-radius:15px;
  border:none;
  cursor:pointer;

  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  color:white;

  transition:0.2s;
}

button:hover{
  transform:scale(1.1);
}

button:active{
  transform:scale(0.95);
}

/* container */
.container{
  margin-top:120px;

  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(15px);

  padding:30px;
  border-radius:25px;
  display:inline-block;
}

/* contador */
#counter{
  font-size:70px;
}

/* botoes */
.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

/* xp */
.xp-bar{
  width:100%;
  height:15px;
  background:rgba(255,255,255,0.2);
  border-radius:10px;
  margin-top:15px;
}

#xpFill{
  height:100%;
  width:0%;
  background:linear-gradient(90deg, gold, orange);
  border-radius:10px;
}

/* menus */
.menu{
  position:fixed;
  top:70px;
  width:250px;

  background:rgba(0,0,0,0.5);
  backdrop-filter:blur(10px);

  padding:15px;
  border-radius:15px;
}

#historyMenu{left:10px;}
#rankMenu{right:10px;}
#missionsMenu{left:10px; top:300px;}
#metaMenu{right:10px; top:300px;}

.hidden{display:none}

/* mobile */
@media(max-width:600px){
  #counter{font-size:50px;}
  button{padding:10px;}
}
